<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<nav th:replace="navbar:: Navbar"></nav>
    <div class="container">
        <form class="form-group" th:action="@{/books}">
            <table class="table">
                <tr>
                    <th><input class="form-control" id="search" name="search"></th>
                    <th><input class="btn btn-success" type="submit" value="Search..."></th>
                </tr>
            </table>
        </form>
        <table class="table" th:if="${message == null}">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Max loan days</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book: ${bookList}">
                <td><span th:text="${book.title}"></span></td>
                <td><span th:text="${book.maxLoanDays}"></span></td>
                <td th:if="${book.isAvailable()}"><a class="btn btn-primary btn-sm" th:href="@{/create/loan/{id} (id=${book.libraryBookId})}">Borrow</a></td>
                <td th:if="${!book.isAvailable()}"><span>Not Available</span></td>
            </tr>
            </tbody>
        </table>
        <div th:if="${message != null}">
            <h4 class="alert" th:text="${message}"></h4>
        </div>
    </div>
</body>
</html>